html {
    font-family: Arial
}

#Block-Navigator {
    & a {
        display: inline-block;
        height: 200px;
        width: 200px;
        background-color: blue;
        color: white;
        text-decoration: none;
    }
    
}

img.flag-icon {
    height: 16px;
    margin: 2px;

    border-radius: 3px;
    border: 1px solid #eee
}

span.competitor-table-name {
    display: flex;
    span.icon {
        flex: 1;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    span.name {
        flex: 2;
    }

    span.qualification {
        flex: 1
    }
}

span.pill {
    border: 2px black;
    border-radius: 25px;
    padding: 1px 5px;
}

tr {
    background-color: #eeeeee;
    height: 30px;
}

td {
    padding: 0px 5px;
}

th.Team {
    width: 300px;
}

div.Customisation {
    margin-bottom: 10px;
    display: flex;
    flex-direction: column;
}


.switch {
    position: relative;
    display: inline-block;
    width: 30px;
    height: 17px;
  }
  
  /* Hide default HTML checkbox */
  .switch input {
    opacity: 0;
    width: 0;
    height: 0;
  }
  
  /* The slider */
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  .slider:before {
    position: absolute;
    content: "";
    height: 13px;
    width: 13px;
    left: 2px;
    bottom: 2px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  input:checked + .slider {
    background-color: #2196F3;
  }
  
  input:focus + .slider {
    box-shadow: 0 0 1px #2196F3;
  }
  
  input:checked + .slider:before {
    -webkit-transform: translateX(13px);
    -ms-transform: translateX(13px);
    transform: translateX(13px);
  }
  
  /* Rounded sliders */
  .slider.round {
    border-radius: 17px;
  }
  
  .slider.round:before {
    border-radius: 50%;
  }

  span.switch-input {
    display: flex;

    span.text {
        margin-left: 10px;
    }
  }

  td:not(.name) {
    text-align: center;
  }
